<section
  *ngFor="let a of articles"
  class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>{{ a.title }}</h4>
      <p>
        <span>文章创建:{{ a.date_time }}</span>
        <span>文章抓取:{{ a.created_at }}</span>
        <span>{{ a.extra.author }}</span>
      </p>
      {{ a.extra.digest }}
    </div>
    <div class="mdl-card__actions">
      <a href="{{ '/cache/html/' + a.content }}" target="_blank" class="mdl-button">阅读全文</a>
    </div>
  </div>
  <!--
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
    <li class="mdl-menu__item">Lorem</li>
    <li class="mdl-menu__item" disabled>Ipsum</li>
    <li class="mdl-menu__item">Dolor</li>
  </ul>
  -->
</section>

<div style="
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;">
  <span>抓取日期</span>
  <ul>
    <li *ngFor="let d of create_at">
      <a [routerLink]="'/articles/created_at/' + d">{{ d }}</a>
    </li>
  </ul>
  <span>文章日期</span>
  <ul>
    <li *ngFor="let d of written">
      <a [routerLink]="'/articles/written/' + d">{{ d }}</a>
    </li>
  </ul>
</div>
